:root {
  --dark: #212529;
  --light: #f8f9fa;
  --danger: #dc3545;
  --primary: #0d6efd;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--light);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 40px;
  width: 90%;
  margin: 40px auto;
  background-color: var(--light);
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark);
  border-radius: 1rem;
  overflow: hidden;
}

.card__header,
.card__footer {
  background-color: var(--dark);
}

.card__header,
.card__body,
.card__footer {
  padding: 10px 20px;
}

.card__body {
  min-height: 200px;
  max-height: 350px;
  background-color: white;
  overflow-y: auto;
}

.card__title {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  color: var(--light);
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.card__button {
  padding: 0.5rem 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary);
  border-radius: 4px;
  background-color: var(--light);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
  letter-spacing: 1px;
  transition-property: background-color;
  transition-duration: 300ms;
}

.card__button:hover {
  background-color: var(--gray-200);
}

.card__button:active {
  background-color: var(--light);
}

.card__link {
  display: inline;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--light);
  font-weight: 700;
  letter-spacing: 0.5px;
  transition-property: opacity;
  transition-duration: 200ms;
}

.card__link:hover {
  opacity: 0.8;
}

.input-group {
  margin-bottom: 10px;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  color: var(--gray-800);
}

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--gray-500);
  border-radius: 4px;
  font-size: 1.2rem;
  color: var(--gray-800);
}

.input:focus {
  outline: none;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--gray-400);
}

.input-group--row {
  display: flex;
  gap: 8px;
}

.task {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 24px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--gray-500);
  border-radius: 4px;
  background-color: var(--gray-200);
  transition: background-color 200ms;
}

.task:hover {
  background-color: var(--light);
}

.task:last-child {
  margin-bottom: 0;
}

.task__body {
  flex-grow: 1;
}

.task__title {
  margin: 0;
  margin-bottom: 8px;
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 700;
}

.task__description {
  margin: 0;
  margin-bottom: 8px;
  color: var(--gray-800);
}

.task__icon {
  color: gold;
}

.task__delete {
  color: var(--danger);
}
